body {
    font-family: Arial, sans-serif;
    color: #444;
  }
  
  header {
    background-color: #eee;
    padding: 1em;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  header nav a {
    color: blue;
    text-decoration: none;
    padding: 0 1em;
  }
  
  nav a:hover {
    color: #000;
  }


  footer ul li{
    text-decoration: none;
    display: inline-block;
    color:green ;

  }
